.single-transaction{
    display: flex;
    justify-content: center;
    width: 100%;
}

.transaction-list{
    width: 100%;
}

.transactions-container{
    display: flex;
    justify-content: center;
}

.inner-div{
    width: 70%;
}

.transaction-number{
    width: 5%;
}

.amount{
    width: 10%;
}

.description{
    width: 20%;
}

.category{
    width: 15%;
}

.sub-category{
    width: 20%;
}

.created-at{
    width: 20%;
}

.editBtn {
    border: none;
    background-color: white;
    width: 5%;
}

/* i{
    width: 100%
} */

*{
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}