.overview-container{
    display: flex;
}

.chart-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.calendar-container{
    margin-top: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar{
    border: 1px solid black;
}

.day{
    text-align: center;
}

.bills-header{
    margin-top: 15px;
    text-decoration: underline;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.category-chart{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 400px;
}

.sub-category-chart{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 400px;
}

.category-spending{
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sub-category-spending{
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bill-due{
    padding: 5px;
    display: flex;
    justify-content: center;
}