.overview-container{
    display: flex;
}

.chart-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.calendar-container{
    margin-top: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.calendar{
    margin-top: 20%;
    width: 100%;
    border: 1px solid black;
}

.table{
    width: 80%;
}

.day{
    text-align: center;
}

.bills-header{
    margin-top: 15px;
    text-decoration: underline;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.category-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;

}

.all-chart-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-category-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.category-spending{
    margin-bottom: -20px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sub-category-spending{
    margin-bottom: -20px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bill-due{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.input-button{
    display: flex;
    justify-content: center;
}

.income-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.total-spending{
    margin-bottom: -20px;
    font-size: 20px;
    color: black;
    font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.total-spending-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.total-spending-container{
    display: flex;
    width: 80%;
    height: 100%;
}

table{
    table-layout: fixed;
    width: 100%;
}

th,td {
    word-wrap: break-word;
}

th{
    font-size: 16px;
}

.table-headers{
    padding-left: 0;
    padding-right: 0;
}

.single-transaction{
    padding-left: 0;
    padding-right: 0;
}